buildenv.sh
/**/obj/
/**/bin/
/**/lib/
/**/Debug/
/**/Release/
/**/vc90*
/**/temp/
*.suo
*~
vc100.pdb
*.dep
*.vshost.*
*TempAssembly*
*.user
*.ncb
*.ilk
*.tlog
#*.pch
#*.filters
#*.obj
#*.exp
*.bak
#*.exe
build
#Makefile
#CMakeFiles
CMakeCache.txt
#cmake_install.cmake
**/BuildLog.htm
