projectlist  distributed semi-distributed

appname Facilitator
projects semi-distributed distributed
facilitator
appdir ${OAA_HOME}/runtime/facilitator
appline ${FAC} -oaa_listen tcp('${Host}',${Port})
oaaname root
end

appname TextIO
projects distributed semi-distributed 
appdir Agents
environment CLASSPATH=.${SEP}${OAA_HOME}/lib/jar/oaa2.jar${SEP}${OAA_HOME}/lib/jar/antlr-oaa.jar${SEP}${OAA_HOME}/lib/jar/concurrent-1.3.1.jar${SEP}${OAA_HOME}/lib/jar/log4j-1.2.7.jar
appline java TextIO
oaaname TextIO
end

appname interpret
projects distributed
appdir Agents
appline sicstus -l interpret_agent.pl --goal run.
oaaname interpret
end

appname generate
projects distributed
appdir Agents
appline sicstus -l generate_agent.pl --goal run.
oaaname generate
end


appname update
projects distributed
appdir Agents
appline sicstus -l update_agent.pl --goal run.
oaaname update
end

appname select
projects distributed
appdir Agents
appline sicstus -l select_agent.pl --goal run.
oaaname select
end



appname tis
projects distributed
appdir Agents
appline sicstus -l tis_agent.pl --goal run.
oaaname tis
end


appname control
projects distributed
appdir Agents
appline sicstus -l control_agent.pl --goal run.
oaaname controller
waitfor tis
end

appname dme
projects semi-distributed
appdir Agents 
appline  sicstus -l dme_agent.pl --goal run.
oaaname dme
end
appname control
projects semi-distributed
appdir Agents
appline sicstus -l control_agent.pl --goal run.
oaaname controller
waitfor dme
end


