./.bashrc
./.dockerignore
./.gitattributes
./.gitconfig
./.gitignore
./.gitmodules
./.kateproject
./.profile
./.swiplrc
./.viminfo
./.bash_history
./.bash_logout
./.config/
./.config/configstore/
./.config/swi-prolog/
./.gitlab-ci.yml
./.git/
./.vscode/
./.vscode/extensions.json
./.vscode/launch.json
./.vscode/settings.json
./AUTHORS.rst
./bin/
./buildenvmingw64.sh
./cookies.txt
./dmiles-attvar.patch
./dmiles-ssl.patch
./Dockerfile
./docker-compose.yml
#./docker/
./docs/
./eclipse-workspace/
./etc/
./etc/profile.d/
./files.txt
./INSTALL.md
./INSTALL-DEPS.md
./INSTALL-EGGDROP.md
./INSTALL-PACKS.md
./INSTALL-SUBMODULES.md
./INSTALL-SWI.md
./Jenkinsfile
./lib/
#/lib/cmake/
#./lib/deps_installed/
#./lib/swipl/
./LICENSE.md
./LogicmooServerLoop.sh
./logicmoo_env.sh
./logicmoo_workspace.vpj~
./logicmoo_workspace.vpj
./logicmoo_workspace.vpw
./logicmoo_workspace.vpwhist
./logicmoo_workspace.vtg
./mkdocs.yml
./other_files.vpj
./packs_lib/
./packs_lib/.gitignore
./packs_lib/aleph/
./packs_lib/assertions/
./packs_lib/auc/
./packs_lib/bddem/
./packs_lib/cplint/
./packs_lib/cplint_r/
./packs_lib/lambda/
./packs_lib/matrix/
./packs_lib/mpi/
./packs_lib/phil/
./packs_lib/README.md
./packs_lib/rocksdb/
./packs_lib/rtchecks/
./packs_lib/sldnfdraw/
./packs_lib/trill/
./packs_lib/xlibrary/
./packs_lib/xtools/
./packs_sys/
./packs_sys/.gitignore
./packs_sys/dictoo/
./packs_sys/Downloads/
./packs_sys/eggdrop/
./packs_sys/instant_prolog_docs/
./packs_sys/logicmoo_agi/
./packs_sys/logicmoo_base/
./packs_sys/logicmoo_cg/
./packs_sys/logicmoo_e2c.vpwhist
./packs_sys/logicmoo_ec/
./packs_sys/logicmoo_lps/
./packs_sys/logicmoo_nars/
./packs_sys/logicmoo_nlu/
./packs_sys/logicmoo_utils/
./packs_sys/lps_corner.savHacked/
./packs_sys/pfc/
./packs_sys/predicate_streams/
./packs_sys/prologmud/
./packs_sys/prologmud_samples/
./packs_sys/slack_prolog/
./packs_sys/swicli/
./packs_sys/wam_common_lisp/
./packs_usr/
./packs_usr/.buildpath
./packs_usr/.pdtproperties
./packs_usr/.project
./packs_web/
./packs_web/.gitignore
./packs_web/butterfly/
./packs_web/ClioPatria/
./packs_web/logicmoo_webui/
./packs_web/swish/
./packs_xtra/
./packs_xtra/logicmoo_packages/
./packs_xtra/logicmoo_pldata/
./packs_xtra/packs_xtra.vpj
./Patch/
./Patch/lib/
./potential_plt_tests.txt
./PRIOR-AGREEMENTS.md
./README.md
./README.rst
./search.txt
./share/
./StartLogicmoo.sh
./swipl-devel/
./web_install.sh
./wikis/
./wikis/logicmoo_workspace.wiki/
./wiki/
./wiki/.dockerignore
./wiki/.editorconfig
./wiki/.git
./wiki/.gitattributes
./wiki/.gitignore
./wiki/class_diagram.html
./wiki/docs/
./wiki/files/
./wiki/img/
./wiki/index.html
./wiki/js/
./wiki/LICENSE
./wiki/narrativedoc-embasp.zip
./wiki/narrativedoc/
./wiki/README.md
./wiki/version_1x.html
./wiki/version_2x.html
./wiki/version_3x.html
./wiki/version_4x.html
./wiki/version_5x.html
./wiki/version_6x.html
./wiki/.circleci/
./wiki/.clang-format
./wiki/.github/
./workspace.code-workspace
