[submodule "wikis/logicmoo_workspace.wiki"]
	path = wikis/logicmoo_workspace.wiki
	url = https://github.com/TeamSPoon/logicmoo_workspace.wiki
[submodule "packs_lib/auc"]
	path = packs_lib/auc
	url = https://github.com/friguzzi/auc.git
[submodule "packs_lib/matrix"]
	path = packs_lib/matrix
	url = https://github.com/friguzzi/matrix.git
[submodule "packs_lib/cplint"]
	path = packs_lib/cplint
	url = https://github.com/friguzzi/cplint.git
[submodule "packs_lib/bddem"]
	path = packs_lib/bddem
	url = https://github.com/friguzzi/bddem.git
[submodule "packs_lib/aleph"]
	path = packs_lib/aleph
	url = https://github.com/friguzzi/aleph.git
[submodule "packs_lib/rocksdb"]
	path = packs_lib/rocksdb
	url = https://github.com/JanWielemaker/rocksdb.git
[submodule "packs_lib/mpi"]
	path = packs_lib/mpi
	url = https://github.com/friguzzi/mpi.git
[submodule "packs_lib/xlibrary"]
	path = packs_lib/xlibrary
	url = https://github.com/edisonm/xlibrary.git
[submodule "packs_lib/assertions"]
	path = packs_lib/assertions
	url = https://github.com/edisonm/assertions.git
[submodule "packs_lib/rtchecks"]
	path = packs_lib/rtchecks
	url = https://github.com/edisonm/rtchecks.git
[submodule "packs_lib/xtools"]
	path = packs_lib/xtools
	url = https://github.com/edisonm/xtools.git
[submodule "packs_lib/cplint_r"]
	path = packs_lib/cplint_r
	url = https://github.com/friguzzi/cplint_r.git
[submodule "packs_lib/phil"]
	path = packs_lib/phil
	url = https://github.com/ArnaudFadja/phil.git
[submodule "packs_lib/trill"]
	path = packs_lib/trill
	url = https://github.com/rzese/trill.git
[submodule "packs_sys/logicmoo_base"]
	path = packs_sys/logicmoo_base
	url = https://github.com/TeamSPoon/logicmoo_base.git
[submodule "packs_sys/logicmoo_cg"]
	path = packs_sys/logicmoo_cg
	url = https://github.com/TeamSPoon/logicmoo_cg.git
[submodule "packs_sys/logicmoo_ec"]
	path = packs_sys/logicmoo_ec
	url = https://github.com/TeamSPoon/logicmoo_ec.git
[submodule "packs_sys/logicmoo_nlu"]
	path = packs_sys/logicmoo_nlu
	url = https://github.com/TeamSPoon/logicmoo_nlu.git
[submodule "packs_sys/prologmud"]
	path = packs_sys/prologmud
	url = https://github.com/TeamSPoon/prologmud.git
[submodule "packs_sys/prologmud_samples"]
	path = packs_sys/prologmud_samples
	url = https://github.com/TeamSPoon/prologmud_samples.git
[submodule "packs_sys/wam_common_lisp"]
	path = packs_sys/wam_common_lisp
	url = https://github.com/TeamSPoon/wam_common_lisp.git
[submodule "packs_sys/lps_corner"]
	path = packs_sys/lps_corner
	url = https://github.com/TeamSPoon/lps_corner.git
[submodule "packs_web/ClioPatria"]
	path = packs_web/ClioPatria
	url = https://github.com/TeamSPoon/ClioPatria
[submodule "packs_sys/logicmoo_utils"]
	path = packs_sys/logicmoo_utils
	url = https://github.com/TeamSPoon/logicmoo_utils.git
[submodule "packs_sys/dictoo"]
	path = packs_sys/dictoo
	url = https://github.com/TeamSPoon/dictoo.git
[submodule "packs_sys/gvar_syntax"]
	path = packs_sys/gvar_syntax
	url = https://github.com/TeamSPoon/gvar_syntax.git
[submodule "packs_sys/predicate_streams"]
	path = packs_sys/predicate_streams
	url = http://github.com/TeamSPoon/predicate_streams.git
[submodule "packs_sys/multimodal_dcg"]
	path = packs_sys/multimodal_dcg
	url = https://github.com/TeamSPoon/multimodal_dcg.git
[submodule "packs_sys/pfc"]
	path = packs_sys/pfc
	url = https://github.com/TeamSPoon/pfc.git
[submodule "packs_sys/logicmoo_nars"]
	path = packs_sys/logicmoo_nars
	url = https://github.com/TeamSPoon/logicmoo_nars
[submodule "packs_web/swish"]
	path = packs_web/swish
	url = https://github.com/TeamSPoon/swish
[submodule "packs_web/logicmoo_webui"]
	path = packs_web/logicmoo_webui
	url = https://github.com/TeamSPoon/logicmoo_webui.git
[submodule "packs_xtra/logicmoo_pldata"]
	path = packs_xtra/logicmoo_pldata
	url = https://logicmoo.org/gitlab/dmiles/logicmoo_pldata
[submodule "packs_sys/body_reordering"]
	path = packs_sys/body_reordering
	url = https://github.com/TeamSPoon/body_reordering.git
[submodule "packs_sys/eggdrop"]
	path = packs_sys/eggdrop
	url = https://github.com/TeamSPoon/eggdrop.git
[submodule "packs_sys/slack_prolog"]
	path = packs_sys/slack_prolog
	url = https://github.com/swi-to-yap/slack_prolog
[submodule "packs_sys/swicli"]
	path = packs_sys/swicli
	url = https://github.com/logicmoo/swicli.git
[submodule "packs_lib/sldnfdraw"]
	path = packs_lib/sldnfdraw
	url = https://github.com/gavanelli/sldnfdraw.git
