[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://logicmoo.org/gitlab/logicmoo/logicmoo_workspace.git
        fetch = +refs/heads/*:refs/remotes/gitlab/*
[remote "github"]
        url = https://github.com/logicmoo/logicmoo_workspace.git
        fetch = +refs/heads/*:refs/remotes/github/*
[remote "gitlab"]
        url = https://logicmoo.org/gitlab/logicmoo/logicmoo_workspace.git
        fetch = +refs/heads/*:refs/remotes/gitlab/*

[branch "master"]
	remote = origin
	merge = refs/heads/master

[submodule "packs_xtra/logicmoo_pldata"]
	url = https://logicmoo.org/gitlab/logicmoo/logicmoo_pldata.git
	active = true

[submodule "wiki"]
	url = https://logicmoo.org/gitlab/logicmoo/logicmoo_wiki.git
	active = true

[credential]
        helper = cache --timeout=300
