[submodule "wikis/logicmoo_workspace.wiki"]
	path = wikis/logicmoo_workspace.wiki
	url = https://github.com/logicmoo/logicmoo_workspace.wiki
[submodule "prologmud_server"]
	path = prologmud_server
	url = https://logicmoo.org/gitlab/logicmoo/prologmud_server
