packs_sys/prologmud_samples/prolog/prologmud_sample_games/.swipl_history
swipl-devel/
packs_xtra/programk/
#packs_xtra/logicmoo_packages/prolog/*/
prologmud_server/.dbus/
prologmud_server/nohup.out
./packs_web/butterfly/results.txt
.gitignore
~~*~~
*~
packs_sys/logicmoo_cg/prolog/MProlog-2.0/
#.git/
is_dir
#packs_sys/logicmoo_ec/ext/PKnows/
/DEAD
*.sav*
*.sav*/
/~html~/
./logicmoo_workspace.vtg~
prologmud_server/.ssh/
packs_sys/logicmoo_nlu/ext/stanford/stanford-corenlp-4.2.0-models*
packs_usr/OSCAR-web-page/
packs_usr/aop/
packs_usr/cTI/
packs_usr/johnpollock.us/
packs_usr/readylog/
packs_usr/redplushunter/
packs_web/lps_corner/
/pyswip-0.2.3/
/Mirrors/
*.vtg*
modified_sys/
pldox/
packs_web/logicmoo_webui/serv*/
#packs_usr/
packs_sys/eggdrop/conf/PrologMUD-freenode.*
prologmud_server/.config/mozilla/
prologmud_server/.cache/google-chrome/
prologmud_server/.config/google-chrome/
prologmud_server/.cache/fontconfig/
prologmud_server/.config/dconf/
prologmud_server/.config/mimeapps.list
prologmud_server/.config/swi-prolog/dir-history/
prologmud_server/.emacs-saved
prologmud_server/.mozilla/firefox/
prologmud_server/.viminfo
prologmud_server/.cache/
prologmud_server/.config/
prologmud_server/.mozilla/
prologmud_server/.config/lxpanel/
prologmud_server/.config/pcmanfm/
prologmud_server/.config/swi-prolog/xpce/
prologmud_server/config-enabled-swish/Geometry.cnf
prologmud_server/core
prologmud_server/nohup.out
packs_sys/swicli/src/packages/
packs_web/sewiki.iai.uni-bonn.de/
packs_web/xrfoundation/

