swipl-devel/
packs_xtra/programk/
#packs_xtra/logicmoo_packages/prolog/*/
#packs_sys/prologmud_samples/prolog/prologmud_sample_games/.dbus/
packs_sys/prologmud_samples/prolog/prologmud_sample_games/nohup.out
./packs_web/butterfly/results.txt
.gitignore
~~*~~
*~
packs_sys/logicmoo_cg/prolog/MProlog-2.0/
#.git/
is_dir
#packs_sys/logicmoo_ec/ext/PKnows/
/DEAD
*.sav*
*.sav*/
/~html~/
./logicmoo_workspace.vtg~
packs_sys/prologmud_samples/prolog/prologmud_sample_games/.ssh/
packs_sys/logicmoo_nlu/ext/stanford/stanford-corenlp-4.2.0-models*
packs_usr/OSCAR-web-page/
packs_usr/aop/
packs_usr/cTI/
packs_usr/johnpollock.us/
packs_usr/readylog/
packs_usr/redplushunter/
packs_web/lps_corner/
/pyswip-0.2.3/
/Mirrors/
*.vtg*
modified_sys/
pldox/
packs_web/logicmoo_webui/serv*/
#packs_usr/
packs_sys/eggdrop/conf/PrologMUD-freenode.*

