[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
        url = https://github.com/logicmoo/narsese
        fetch = +refs/heads/*:refs/remotes/origin/*
[remote "upstream"]
	url = https://github.com/opennars/OpenNARS-for-Applications
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
