#Startit configuration file for Unimodal DJ-GoDiS

projectlist text-mode speech-mode 

#----------------------------------------------------------------------#
# OAA Facilitator 

appname Facilitator
oaaname root
projects text-mode speech-mode
facilitator
appdir ${OAA_HOME}/runtime/facilitator
appline ${FAC} -oaa_listen tcp('${Host}',${Port})
end

#----------------------------------------------------------------------#
# Nuance license manager

#appname Nuance License Manager
#projects speech-mode
#appdir .
#appline nuance_license.bat
#end

#----------------------------------------------------------------------#
# Nuance Recognition Server

appname Nuance Recserver
projects speech-mode
appdir .
appline recserver -package Grammars/usr_lamps_unimodal lm.Addresses=localhost
end

#----------------------------------------------------------------------#
# Vocalizer TTS

appname TTS server
projects speech-mode
appdir .
appline ${Vocalizer}
	menu Vocalizer language
	option "vocalizer -language Swedish" swedish
	option "vocalizer -language USEnglish" english
	end
end
		

#----------------------------------------------------------------------#
# Nuance IO modules agent

appname Trindikit Nuance I/O
oaaname InOutNuanceScore
projects speech-mode
appdir . 
environment CLASSPATH=../jars/tkit_inout_nuance.jar${SEP}../jars/oaa2latin1.jar{SEP}../jars/tkit_oaa.jar${SEP}${OAA_HOME}/lib/jar/antlr-oaa.jar${SEP}${OAA_HOME}/lib/jar/concurrent-1.3.1.jar${SEP}${OAA_HOME}/lib/jar/log4j-1.2.7.jar${SEP}${NUANCE}/java/nsc.jar${SEP}${NUANCE}/java/vcomsc.jar
appline java InOutNuanceScore -package Grammars/domain_lamps_unimodal lm.Addresses=localhost 
end


#----------------------------------------------------------------------#
# GF Agent

appname GF Agent
oaaname GFAgent
projects text-mode speech-mode
appdir Grammars
environment CLASSPATH=.${SEP}../../jars/gfc2java.jar${SEP}../../jars/oaa2-latin1.jar${SEP}../../jars/tkit_oaa.jar${SEP}${OAA_HOME}/lib/jar/antlr-oaa.jar${SEP}${OAA_HOME}/lib/jar/concurrent-1.3.1.jar${SEP}${OAA_HOME}/lib/jar/log4j-1.2.7.jar
appline java  se.chalmers.cs.gf.oaa.GFAgent usr_domain_lamps.properties sys_domain_lamps.properties
end
#----------------------------------------------------------------------#
# Text IO modules agent
appname Trindikit Text I/O
oaaname InOutTextScore
projects text-mode 
appdir .
environment CLASSPATH=../jars/tkit_inout_text.jar${SEP}../jars/oaa2-latin1.jar${SEP}${OAA_HOME}/lib/jar/antlr-oaa.jar${SEP}${OAA_HOME}/lib/jar/concurrent-1.3.1.jar${SEP}${OAA_HOME}/lib/jar/log4j-1.2.7.jar
appline java InOutTextScore
end


#----------------------------------------------------------------------#
# GoDiS deLux

appname GoDiS deLux
oaaname godis_delux
projects text-mode speech-mode
appdir .
environment TRINDIKIT=${TRINDIKIT} GODIS=${GODIS}
appline sicstus -l lamps_unimodal --goal run(${Lang}).
	menu Lang
	  option english English
	  option svenska Swedish
	end
end





