# config for agendatalk for use with trindikit-3.2,
# nuance 8 and vocalizer1 

projectlist compile run

#------------------------------------------------------
appname Compile Nuance Grammar
appdir .
appline nuance-compile ${PACKAGE} English.America.1 -o  ${PACKAGE} -auto_pron
projects compile
end
#------------------------------------------------------
appname Facilitator
facilitator
appdir .
appline ${FAC} -oaa_listen tcp('${Host}',${Port})
oaaname root
projects run
end
#------------------------------------------------------
appname nuance license manager
appdir .
appline ${NUANCE}/run_nlm.bat
projects run
end
#------------------------------------------------------
appname nuance recserver
appdir . 
appline recserver -package ${PACKAGE} lm.Addresses=localhost
projects run
end
#------------------------------------------------------
appname nuance vocalizer
appdir . 
appline vocalizer -language USEnglish
projects run
end
#------------------------------------------------------
appname NuanceWrapper
oaaname NuanceWrapper
appdir .
environment CLASSPATH=${NUANCECP}${SEP}${OAACP}${SEP}${TRINDIKIT}/jars/tkit_nuance.jar${SEP}${TRINDIKIT}/jars/tkit_oaa.jar
appline java se.gu.ling.trindikit.oaa.nuance.nsc.NuanceWrapper -package ${PACKAGE}  client.TTSAddresses=localhost:32323 lm.Addresses=localhost
projects run
end