# config for agendatalk for use with trindikit-3.2,
# nuance 8 and vocalizer1 for SWEDISH

projectlist compile run

#------------------------------------------------------
appname Compile Nuance Grammar
appdir .
appline nuance-compile ${PACKAGE} Swedish -o  ${PACKAGE} -auto_pron
projects compile
end
#------------------------------------------------------
appname Facilitator
facilitator
appdir .
appline ${FAC} -oaa_listen tcp('${Host}',${Port})
oaaname root
projects run
end
#------------------------------------------------------
appname Calendar
appdir ${BORG}
appline java -cp ${BORG}/borg.jar;${BORG}/lib/jdic.jar;${BORG}/lib/jh.jar;${BORG}/lib/borghelp.jar;${BORG}/lib/ical4j.jar;${BORG}/lib/commons-logging.jar;${BORG}/lib/looks-1.2.2.jar;${BORG}/lib/jcalendar.jar net.sf.borg.control.Borg
projects run
end
#------------------------------------------------------
appname nuance license manager
appdir .
appline ${NUANCE}/run_nlm.bat
projects run
end
#------------------------------------------------------
appname nuance recserver
appdir . 
appline recserver -package ${PACKAGE} lm.Addresses=localhost rec.ConfidenceRejectionThreshold=39 rec.DoNBest=TRUE rec.NumNBest=10
projects run
end
#------------------------------------------------------
appname nuance vocalizer
appdir . 
appline vocalizer -language Swedish -speed 55 -pitch 45
projects run
end
#------------------------------------------------------
appname NuanceWrapper
oaaname NuanceWrapper
appdir .
environment CLASSPATH=${NUANCECP}${SEP}${OAACP}${SEP}${TRINDIKIT}/jars/tkit_nuance.jar${SEP}${TRINDIKIT}/jars/tkit_oaa.jar
appline java se.gu.ling.trindikit.oaa.nuance.nsc.NuanceWrapper -package ${PACKAGE}  client.TTSAddresses=localhost:32323 lm.Addresses=localhost
projects run
end