*timeline.html
*-timeline.json
*.class
*.lps_.P
swish/resources/lps/bower_components
swish/web/lps/bower_components
googleAnalyticsKey
*.pl_.P
swish/docker/tempData
swish/data
passwd
engine/logs
swish/web/lps/redis-5.0.7*
swish/extensions
