#config for djgodis
projectlist run compile

appname Facilitator
projects run
facilitator
appdir .
appline ${FAC} -oaa_listen tcp('${Host}',${Port})
oaaname root
end

appname PlayerGui
projects run
appdir ${PLAYERGUI}
appline java -cp ${PLAYERGUICP} Player -dir ${MUSICLIB} -lang swe
	menu Lang
	  option eng English
	  option swe Swedish
	end
oaaname PlayerGui
end

appname Compile PlayerGui
projects compile
appdir ${PLAYERGUI}/src
appline javac -classpath ${PLAYERGUICP};. Player.java
end

appname JlGuiAgent
appdir ${JLGUI}
appline java -cp ${JLGUICP} JlGuiAgent
oaaname JlGuiAgent
end

appname GoDiS DME
appdir ${APPDIR}
appline sicstus -l dme_agent.pl --goal startit(player,svenska).
environment TRINDIKIT=${TRINDIKIT} GODIS=${GODIS}
oaaname dme
waitfor TkitAlarmAgent
end

appname Control
appdir ${APPDIR}
appline sicstus -l control_agent.pl --goal startit.
environment TRINDIKIT=${TRINDIKIT} GODIS=${GODIS}
##appline sicstus -l ctrl_no_alarm.pl --goal startit.
oaaname control
waitfor dme
#waitfor tts_killer_agent
end

#appname TTS Killer
#appdir ${APPDIR}
#appline sicstus -l tts_killer_agent.pl --goal init.
#oaaname tts_killer_agent
#end

appname Alarm
appdir ${ALARM}
appline java -cp ${ALARMCP} AlarmAgent
oaaname TkitAlarmAgent
end

appname Nuance NLM
appdir ${NUANCE}
appline run_nlm.bat
end

appname Nuance RecServer
appdir ${APPDIR}
appline recserver -package ${PKGDIR}/${PKG}
end

#appname Vocalizer LM
#appdir ${NUANCE}/bin/win32
#appline nlm ${APPDIR}/license.txt
#end

appname TTS server
appdir C:/Nuance/ScanSoft/Tts
#appdir ${APPDIR}
appline rs_nutts_server.exe -cf rs_config_win.cfg -num_workers 1 tts.Port=32323
#appline vocalizer -voice reedjohnston lm.Addresses=localhost:8471
end

appname TTS client
appdir ${APPDIR}/logs
appline java -cp ${INOUTNUANCECP} TTSAgent
oaaname TTSAgent
end

appname InOutNuance
appdir ${APPDIR}
appline java -cp ${INOUTNUANCECP} InOutNuanceScore2 -package ${PKGDIR}/${PKG} lm.Addresses=localhost client.TTSAddresses=localhost:32323 client.RecordDirectory=${APPDIR}/logs rec.DoNBest=TRUE rec.ConfidenceRejectionThreshold=35 ${ap_params}
  menu ap_params Audio Provider
    option "audio.Provider=native audio.InputVolume=250" Native 
    option "audio.Provider=sip audio.sip.UserAgentURI=sip:talker@localhost audio.sip.UserAgentPort=40000 audio.rtp.RecordPayloadSize=60" SIP@localhost:40000
  end
oaaname InOutNuance
end