/*  XPCE configuration file for "persistent_frame"
    Saved Tue Jun 13 05:23:54 2017 by root
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/prolog_debug_monitor = '860x385+2938-605'.
history/geometry/prof_frame =   '1826x385--410-404'.
history/geometry/prolog_debug_status = '377x302+2126-655'.
history/geometry/prolog_debugger = '1920x1027+607-99'.
history/geometry/xref_frame =   '1920x996+1920+23'.
history/geometry/prolog_thread_monitor = '502x414+3107-436'.
history/geometry/pui_manual =   '880x399+2588-438'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/prof_frame = layout(*,[*,layout(*,[283,*]),*]).
history/subwindow_layout/xref_frame = layout(*,[*,layout(*,[layout(265,[*,*]),*]),*]).
history/subwindow_layout/pui_manual = layout(*,[*,layout(*,[200,*]),*]).
history/subwindow_layout/prolog_debugger = layout(*,[*,*,layout(176,[401,*]),*,*]).
history/subwindow_layout/prolog_thread_monitor = layout(*,[*,layout(*,[90,*]),*]).
history/subwindow_layout/prolog_debug_monitor = layout(*,[*,layout(*,[181,*]),*]).
