#
# Include Java .jar file paths.
#
# This is the default `organize-imports-java` configuration file.
#

# Using JRE 1.8.0_261
resources=::SDK_PATH::/jre/lib/resources.jar
rt=::SDK_PATH::/jre/lib/rt.jar
jsse=::SDK_PATH::/jre/lib/jsse.jar
charsets=::SDK_PATH::/jre/lib/charsets.jar
jfr=::SDK_PATH::/jre/lib/jfr.jar
cldrdata=::SDK_PATH::/jre/lib/ext/cldrdata.jar
dnsns=::SDK_PATH::/jre/lib/ext/dnsns.jar
jaccess=::SDK_PATH::/jre/lib/ext/jaccess.jar
jfxrt=::SDK_PATH::/jre/lib/ext/jfxrt.jar
localedata=::SDK_PATH::/jre/lib/ext/localedata.jar
nashorn=::SDK_PATH::/jre/lib/ext/nashorn.jar
sunec=::SDK_PATH::/jre/lib/ext/sunec.jar
sunjce_provider=::SDK_PATH::/jre/lib/ext/sunjce_provider.jar
sunmscapi=::SDK_PATH::/jre/lib/ext/sunmscapi.jar
sunpkcs11=::SDK_PATH::/jre/lib/ext/sunpkcs11.jar
zipfs=::SDK_PATH::/jre/lib/ext/zipfs.jar

# Libraries

# TODO: Add local libraries here..
