.menu {
	margin-bottom: 0.5em;
	color: #000;
	background-color: #90a3b3;
	padding: 0.5em;
	border: 2px groove silver;
	font-family: sans-serif;
	font-size: 90%;
	width: 780px;
}

#menuButton, #helpButton {
	font-family: monospace;
}

.menuLabel {
	color: #000;
	vertical-align: bottom;
}

#serviceSelect {
	margin-top: 0.5em;
	padding: 0.4em;
	border: 2px groove #eee;
	background-color: #ffd;
	width: 780px;
}

#busyLight {
	position: fixed;
	top: 3px;
	right: 3px;
	bottom: auto;
	left: auto;
	color: white;
	font-weight: bold;
	font-family: monospace;
	padding: 0.1em 0.1em 0.1em 0.1em;
	/*border: 1px solid silver;*/
}

#acetext {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.2em;
	font-family: serif;
	font-size: 100%;
}

div.box {
	border-left: solid 1px silver;
	padding-left: 10px;
	margin-top: 1em;
}

span.label {
	color: inherit;
	background-color: #fffacd;
	margin-left: -10px;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	font-variant: small-caps;
	font-family: sans-serif;
	border-bottom: 1px dotted silver;
}

.hidden {
	display: none;
}

.bug {
	color: inherit;
	background-color: yellow;
}

span {
	padding: 0px;
	margin: 0px 1em 0px 0px;
	font-family: inherit;
}

.s0, .s1, .s2, .s3 {
	color: inherit;
}

.s0 { background-color: #fff; }
.s1 { background-color: #ff4500; }
.s2 { background-color: #ffdead; }
.s3 { background-color: #ffdead; }

div.container {
	margin-top: 1em;
	padding: 0px;
}

div.resultAcetext {
	padding: 0.2em;
	white-space: pre;
	font-family: serif;
}

.resultFol, .resultPnf {
	font-family: sans-serif;
	font-size: 90%;
}

.resultParaphrase {
	font-family: serif;
	padding: 0.2em;
}

pre.resultDrspp {
}

.resultTokens {
	font-family: monospace;
}

pre.resultSyntaxpp {
}

.resultOwlrdf, .resultRuleml {
	font-family: monospace;
}

table.resultMessages {
	color: inherit;
	background-color: #fee;
	empty-cells: show;
	border-collapse: collapse;
	margin-top: 0.5em;
}

table.resultMessages thead {
	color: inherit;
	background-color: #fdd;
	font-weight: bold;
}

table.resultMessages td {
	padding: 0.2em;
	border: 1px solid silver;
	vertical-align: top;
}

div.infoBox, div.commentBox {
	color: inherit;
	font-family: sans-serif;
	padding: 0.3em;
	font-size: 90%;
}

div.infoBox {
	/* background-color: #ace; */
	background-color: #acd;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
}

div.commentBox {
	background-color: #fee;
	border: none;
}

span.evaluationBox {
}

div.visible, div.error {
	color: inherit;
	padding: 0.5em;
	margin: 0px 0px 0px 0px;
}

div.visible {
	background-color: #eee;
	border: 1px solid silver;
}

div.error {
	background-color: #fee;
	border: 2px solid red;
	font-family: monospace;
}

tr, td {
	padding: 0px;
	margin: 0px;
}

td.nowrap {
	white-space: nowrap;
}

td.warning {
	background-color: yellow;
}

td.error {
	background-color: red;
}

table.controls {
	color: inherit;
	background-color: #dde;
	padding: 0.4em;
	margin: 0px;
	border: 2px groove #eee;
	width: 780px;
}

body {
	margin: 0.5em;
}

#lexicon, #url {
}

#lexicon {
	padding-left: 0.2em;
}

button {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	vertical-align: middle;
}

button.blendin {
	color: inherit;
	background-color: #ace;
	border: none;
}

/*
border: inset 1px silver;
.s3 { background-color: #32cd32; }
*/
