table.git_shortlog
{ margin-left: 5%;
  font-size: 80%;
  border-spacing: 0px;
  margin-bottom: 2ex;
}

table.git_shortlog td
{ padding: 0px 5px;
}

table.git_shortlog td.subject a
{ font-weight: bold;
  text-decoration: none;
  color: #000;
}

table.git_shortlog td.subject a:hover
{ text-decoration: underline;
  color: blue;
}

table.git_shortlog td.committer_name
{ font-style: italic;
  font-weight: 200;
}

table.git_shortlog span.ref_names
{ margin-left: 0.5em;
}

table.git_shortlog span.ref_name
{ background-color: #a2ffa1;
  border-color: #a2ffa1;
  border: 1px outset;
  padding: 0px 2px;
}

table.git_shortlog tr.even td
{ background-color: #e0e0e0;
}

/* Commit data */

div.cpack table.commit
{ margin-left: 5%;
  margin-bottom: 1em;
}

div.cpack table.commit th
{ text-align: right;
}

div.cpack table.commit td.tree_hash,td.commit,td.parent_hashes
{ font-family: monospace;
}


pre.commitdiff
{ border: 1px dotted;
  padding: 2px 5px;
  margin-top: 0px;
}

pre.commitdiff span.add
{ color: green;
}

pre.commitdiff span.diff,span.a,span.b,span.file
{ font-weight: bold;
}

pre.commitdiff span.del
{ color: red;
}

div.diffstyle
{ text-align: right;
  font-size: smaller;
}

div.cpack span.pi,span.token
{ font-weight: bold;
  font-size: 90%;
}

div.git-comment
{ font-size: 16pt;
  margin-bottom: 1.5em;
}
