/* Style messages.pl output
*/

div.messages, div.textbox
{ border-width: 1px;
  border-style: dotted;
  border-color: #A0A0A0;
  padding: 5px;
  margin-top: 2ex;
  margin-left: 5%;
  width: 90%;
}

div.messages pre
{ margin: 0px;
}

.msg_informational
{ color: #007f00;
}

.msg_warning
{ color: #ca0000;
}

.msg_error
{ color: #ca0000;
  font-weight: bold;
}
