.draggable_div
{
    position: relative; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   

    cursor: hand; 
    cursor: pointer;       
}

.resizable
{
    width: 50%;   
    border: 1px solid #bb0000;   
}
.resizable img
{
    width: 100%;   
}

.ui-resizable-handle 
{
    background: #f5dc58;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    
    z-index: 2;
}
.ui-resizable-se
{
    right: -5px;
    bottom: -5px;
}

.ui-rotatable-handle 
{
    background: #f5dc58;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    
    height:        10px;
    left:          50%;
    margin:        0 0 0 -5px;
    position:      absolute;
    top:           -5px;
    width:         10px;
}
.ui-rotatable-handle.ui-draggable-dragging
{
    visibility:  hidden;
}

div.prolog-query
{ height: 100%;
  padding: 5px;
  background-color: #eee;
  position: relative
}

.prolog-query-editor .buttons-left
{ display: block;
  position: absolute;
  bottom: 10px;
}

.prolog-query-editor .buttons-right
{ display: block;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.prolog-query-editor div.prolog-prompt
{ position:absolute;
  top: 5px;
  left: 10px;
  heigth: 100%;
  vertical-align: top;
  font-weight: bold;
}

.prolog-query-editor div.query
{ margin-top: 3px;
  height: calc(100% - 40px);
  margin-left: 2em;
}

.prolog-query-editor div.query-buttons
{ margin-left: 2em;
}

span.run-chk-table { margin-right: 5px; color: #777777;}
span.run-chk-table input { position: relative; top: 2px; }

ul.dropdown-menu.history { max-height: 30ex; overflow: auto; }
