@import "./variables.scss";
.yasr {
	padding-top: 5px;
	background-color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
/* 	position:relative; */
	@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
	
	@import "../../node_modules/datatables/media/css/jquery.dataTables.css";
	@import "../../node_modules/pivottable/dist/pivot.css";
	@import "../../node_modules/codemirror/lib/codemirror.css"; 
	@import "../../node_modules/codemirror/addon/fold/foldgutter.css"; 
	@import "../main.scss";
	@import "../boolean.scss";
	@import "../error.scss";
	@import "../rawResponse.scss";
	@import "../table.scss";
	@import "../pivot.scss";
	@import "../gchart.scss";
}
