ext/kalm-qa/
ext/learningbyreading/
ext/candc/models/
src~
*~/
~*/
.*/
*.qlf
*.bak
*~.*
*~
*.o
~*
*_cache
#*-models.jar
ext/kalm-qa/query
ext/kalm-qa/metaqa
prolog/non_ec_planner/SandCat/
prolog/audit/
prolog/lps_corner
ext/pldata/Frames/
prolog/config_nomicmu/example_bt/coronavirus2.pl
prolog/config_nomicmu/vv/
prolog/ec_planner/ec_loader.new
prolog/ec_planner/index.html
prolog/non_ec_planner/AbductiveExplanationsChemistry/
prolog/non_ec_planner/CaSAPI v4.3 Code/
prolog/non_ec_planner/FoodAssistant/
prolog/non_ec_planner/InductiveLP/
prolog/non_ec_planner/PaulBrownMagic/
prolog/non_ec_planner/XHAIL/
prolog/non_ec_planner/argumentation-logic-visualizer/
prolog/non_ec_planner/asystem/
prolog/non_ec_planner/final_year_project/
prolog/non_ec_planner/log-generator/
prolog/non_ec_planner/parallelizing-ILP-in-ASP/
prolog/non_ec_planner/prolexercises/
prolog/logicmoo_nlu/parser_e2c.plt
*.qlf2
# data/
data/fndata-1.5/
data/fndata-1.7/
mount/
