<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
        point="org.cs3.pdt.connector.bootstrapContribution">
     <fileContribution
           id="org.cs3.pdt.common.fileContribution"
           path="pl/load.pl">
        <dependency
              contribution="prolog.connector.fileContribution">
        </dependency>
     </fileContribution>
     <fileSearchPathContribution
           alias="pdt_common_pl"
           id="org.cs3.pdt.common.pl.path"
           path="pl/">
     </fileSearchPathContribution>
  </extension>
<extension
		id="PrologSearchResultPage"
		point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.cs3.pl.search.PrologSearchViewPage"
			searchResultClass="org.cs3.pdt.common.search.PrologSearchResult"
			class="org.cs3.pdt.common.search.PrologSearchResultPage">
		</viewPage>
	</extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="org.cs3.pdt.common.search.PrologSearchPage"
            extensions="pl:90,pro:90,lgt:90"
            icon="icons/prolog_file_transparent.png"
            id="org.cs3.pdt.prologSearchPage"
            label="Prolog Search">
      </page>
   </extension>

 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.cs3.pdt.common.internal.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.pdt.common.internal.preferences.PreferencePage"
          id="org.cs3.pdt.common.internal.preferences.PDTCommonPreferencePage"
          name="PDT">
    </page>
 </extension>
 <extension
       id="org.cs3.pdt.common.deadCodeMarker"
       name="PDT Dead Code Marker"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="org.cs3.pdt.common.deadCodeMarker"
          colorPreferenceKey="org.cs3.pdt.common.deadCodeMarker.color"
          colorPreferenceValue="255,170,170"
          contributesToHeader="false"
          highlightPreferenceKey="org.cs3.pdt.common.deadCodeMarker.highlight"
          highlightPreferenceValue="true"
          icon="icons/warning.gif"
          includeOnPreferencePage="true"
          label="PDT Dead Code Marker"
          overviewRulerPreferenceKey="org.cs3.pdt.common.deadCodeMarker.overview"
          overviewRulerPreferenceValue="true"
          presentationLayer="0"
          textPreferenceKey="org.cs3.pdt.common.deadCodeMarker.text"
          verticalRulerPreferenceKey="org.cs3.pdt.common.deadCodeMarker.vertical"
          verticalRulerPreferenceValue="true">
    </specification>
 </extension>
 <extension
       point="org.eclipse.ui.editors.annotationTypes">
    <type
          markerType="org.cs3.pdt.common.deadCodeMarker"
          name="org.cs3.pdt.common.deadCodeMarker"
          super="org.eclipse.ui.workbench.texteditor.warning">
    </type>
 </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Clear and List Files"
            id="org.cs3.pdt.externalproject.extension.commands.listFiles">
      </command>
      <command
            id="org.cs3.pdt.externalproject.extension.commands.deepListFiles"
            name="Deep Clear and List Files">
      </command>
      <command
            id="org.cs3.pdt.externalproject.extension.commands.cleanup"
            name="Cleanup">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.cs3.pdt.externalproject.extension.commands.listFiles"
            class="org.cs3.pdt.common.internal.externalproject.ListFilesHandler">
      </handler>
      <handler
            class="org.cs3.pdt.common.internal.externalproject.DeepListFilesHandler"
            commandId="org.cs3.pdt.externalproject.extension.commands.deepListFiles">
      </handler>
      <handler
            class="org.cs3.pdt.common.internal.externalproject.CleanupHandler"
            commandId="org.cs3.pdt.externalproject.extension.commands.cleanup">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.cs3.pdt.externalproject.extension.popupmenu"
               label="External Prolog Files">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <test
                              forcePluginActivation="true"
                              property="org.cs3.pdt.externalproject.extension.propertyTester.isOrInExternalProject">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="org.cs3.pdt.externalproject.extension.commands.listFiles"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <test
                                 forcePluginActivation="true"
                                 property="org.cs3.pdt.externalproject.extension.propertyTester.isInExternalProject">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.cs3.pdt.externalproject.extension.commands.deepListFiles"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <test
                                 forcePluginActivation="true"
                                 property="org.cs3.pdt.externalproject.extension.propertyTester.isInExternalProject">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.cs3.pdt.externalproject.extension.commands.cleanup"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <test
                                 forcePluginActivation="true"
                                 property="org.cs3.pdt.externalproject.extension.propertyTester.isExternalProject">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.cs3.pdt.common.internal.externalproject.IsExternalPropertyTester"
            id="org.cs3.pdt.externalproject.extension.isExternal.propertyTester"
            namespace="org.cs3.pdt.externalproject.extension.propertyTester"
            properties="isInExternalProject,isExternalProject,isOrInExternalProject"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.cs3.pdt.common.internal.PrologPerspective"
           id="org.cs3.pdt.perspective"
           name="Prolog">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.cs3.pdt.examples"
           name="PDT"
           parentCategory="org.eclipse.ui.Examples">
     </category>
     <wizard
           category="org.eclipse.ui.Examples/org.cs3.pdt.examples"
           class="org.cs3.pdt.common.example.ExampleProjectCreationWizard"
           icon="icons/prolog_file_transparent.png"
           id="org.cs3.pdt.example.project.wizard"
           name="PDT Example Projects">
        <description>
           Choose from the list of PDT example projects.
        </description>
     </wizard>
  </extension>
  <extension
        point="org.cs3.pdt.connector.hooks">
     <registryHook
           class="org.cs3.pdt.common.CommonRegistryHoook">
     </registryHook>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.cs3.pdt"
           class="org.cs3.pdt.common.callhierachy.CallHierarchyView"
           icon="icons/call_hierarchy.gif"
           id="org.cs3.pdt.common.callhierarchy"
           name="Prolog Call Hierarchy"
           restorable="true">
     </view>
      <category
            name="Prolog"
            id="org.cs3.pdt"/>
  </extension>
</plugin>
