*.bak
libONA.a
libONA.so
3.exe
ANSA.exe
a.out
NAR
src/RuleTable.c
*.qlf
unused/RuleTable.c
*~
*~/
prolog/.BAK/
prolog/.BU/
prolog/ARC-Others/work/
prolog/ILP/
prolog/MIndiGolog/
.history/
.q_file_picker/
.vscode/PythonImportHelper-v2-Completion.json
BFLY0/
BFLY1/

!prolog/kaggle_arc/logical_ml/
prolog/kaggle_arc/logical_ml/muarc_dmiles/

arc_toooooooo/
butterfly/bin/python
butterfly/bin/python3
butterfly/build/
butterfly/lib/python3.7/site-packages/butterfly
butterfly/lib64
prolog/PrologARC.vtg
prolog/RNRNRNR/
prolog/abduction/
prolog/agi_lib/
prolog/episodic_memory/
prolog/neural_bonzon/
prolog/pybrown/
prolog/talespin-annie/
prolog/libnlu/

prolog/neck_search.text


prolog/kaggle_arc/induction/wrrewer
prolog/kaggle_arc/io.ansi
prolog/kaggle_arc/kaggle.json
prolog/kaggle_arc/?*.new
prolog/kaggle_arc/kaggle_arc_prior_grouping
prolog/kaggle_arc/kaggle_arc_uniqueness - Copy.oops
prolog/kaggle_arc/kaggle_arc_uniqueness.oops
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.broken
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.oncew
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.tryingh
prolog/kaggle_arc/muarc_cache/
prolog/kaggle_arc/muarc_output/
prolog/kaggle_arc/muarc_output_html/
prolog/kaggle_arc_saved/

prolog/shared/Untitled-1.html
prolog/shared/Untitled-1.js
prolog/shared/Untitled-1.txt
prolog/shared/abstraction-and-reasoning-challenge.zip
prolog/shared/apps/
prolog/shared/arc_testing_interface.html
prolog/shared/bad.txt
prolog/shared/dfsdfsf
prolog/shared/dom-to-image/
prolog/shared/httpd.log
prolog/shared/indivduations
prolog/shared/ka.txt
prolog/shared/lgen.pl
prolog/shared/lilp.pl
prolog/shared/modified-files.zip
prolog/shared/npm-shrinkwrap.json
prolog/shared/npmswq
prolog/shared/package-lock.json
prolog/shared/package.json
prolog/shared/pj
prolog/shared/pl
prolog/shared/plj
prolog/shared/prolog - Shortcut.lnk
prolog/shared/propcounts
prolog/shared/sample_submission.csv
prolog/shared/snetd
prolog/shared/update.zip

prolog2/
t/
~git.hozed/


prolog/ARC-Others/ARC-solution-ORIG/
prolog/ARC-Others/ARC-solution/
prolog/ARC-Others/ARC_fermigas/
prolog/ARC-Others/ARC_jmmcd/
prolog/ARC-Others/ARC_study/
prolog/ARC-Others/MINI-ARC/
prolog/ARC-Others/arc-community-arc/
prolog/ARC-Others/arc-dsl-helpers/
prolog/ARC-Others/arc-solution-source-files.zip
prolog/ARC-Others/arc-task-generator/
prolog/ARC-Others/icubers/
prolog/ARC-Others/object_modifications_schema/


prolog/shared/css/
prolog/shared/eng.le
prolog/shared/good.txt
prolog/shared/html-to-image/
prolog/shared/js/

prolog/shared/IDocs/47b845fe8a0dd109419a17033c7c7792fc575e8e-1.jpg
prolog/shared/IDocs/Adoptables _ Animal Services.mhtml
prolog/shared/IDocs/Complewte-Adoptables _ Animal Services.mhtml
prolog/shared/IDocs/Hershey-unnamed.jpg
prolog/shared/IDocs/contactphoto.jpg

!ImportantDocs/
