list_np;s_form;m_root;m_affix;text;ne_tag;ne_type;gender
sem_cat;s_form;text;type;kind;name
sem_cat_1;s_form;text;type;unit;count;kind;name
n;s_form;m_root;m_affix;text;person;number
pn;s_form;m_root;m_affix;text;person;number
jj;s_form;m_root;m_affix;text;degree
rb;s_form;m_root;m_affix;text;degree
v;s_form;m_root;m_affix;text;person;number;tense;vform
ne_date;s_form;text
sym;s_form;m_root;m_affix;text
period;s_form;m_root;m_affix;text
comma;s_form;m_root;m_affix;text
pps;s_form;m_root;m_affix;text
wps;s_form;m_root;m_affix;text
sgml;s_form;m_root;m_affix;text
date;s_form;m_root;m_affix;text
cdg;s_form;m_root;m_affix;text
cc;s_form;m_root;m_affix;text
cd;s_form;m_root;m_affix;text
dt;s_form;m_root;m_affix;text
ex;s_form;m_root;m_affix;text
fw;s_form;m_root;m_affix;text
in;s_form;m_root;m_affix;text
ls;s_form;m_root;m_affix;text
md;s_form;m_root;m_affix;text
pdt;s_form;m_root;m_affix;text
pos;s_form;m_root;m_affix;text
prp;s_form;m_root;m_affix;text
rp;s_form;m_root;m_affix;text
to;s_form;m_root;m_affix;text
uh;s_form;m_root;m_affix;text
wdt;s_form;m_root;m_affix;text
wp;s_form;m_root;m_affix;text
wrb;s_form;m_root;m_affix;text
top;s_form;m_root;m_affix;text
bottom;s_form;m_root;m_affix;text
ordinal;s_form;m_root;m_affix;text
char;s_form;m_root;m_affix;text
