% DETERMINANT %

Gate;AnnotationType=Token;category=DT;string=&S
SUPPLE;category=dt;m_root=&S;s_form=&S;

% NN %

Gate;AnnotationType=Token;category=NN;root=&R;affix=&A;string=&S
SUPPLE;category=n;person=3;number=sing;m_root=&R;m_affix=&A;s_form=&S;


% NNS %

Gate;AnnotationSet=Default;AnnotationType=Token;category=NNS;root=&R;affix=&A;string=&S
SUPPLE;category=n;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% NNP %

Gate;AnnotationType=Token;category=NNP;root=&R;affix=&A;string=&S
SUPPLE;category=pn;person=3;number=singular;m_root=&R;m_affix=&A;s_form=&S


% NNPS %

Gate;AnnotationType=Token;category=NNPS;root=&R;affix=&A;string=&S
SUPPLE;category=pn;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% VB %

Gate;AnnotationType=Token;category=VB;root=&R;affix=&A;string=&S
SUPPLE;category=v;person=3;number=plural;m_root=&R;m_affix=&A;tense=none;vform=base;s_form=&S





% NPS %

Gate;AnnotationType=Token;category=NPS;root=&R;affix=&A;string=&S
SUPPLE;category=pn;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% VBD %

Gate;AnnotationType=Token;category=VBD;root=&R;affix=&A;string=&S
SUPPLE;category=v;person=3;m_root=&R;m_affix=&A;s_form=&S;tense=past;vform=dform



% VBG %

Gate;AnnotationType=Token;category=VBG;root=&R;affix=&A;string=&S
SUPPLE;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=gform


% VBN %
Gate;AnnotationType=Token;category=VBN;root=&R;affix=&A;string=&S
SUPPLE;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=past;vform=nform



% VBP %


Gate;AnnotationType=Token;category=VBP;root=&R;affix=&A;string=&S
SUPPLE;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=sform


% VBZ %

Gate;AnnotationType=Token;category=VBZ;root=&R;affix=&A;string=&S
SUPPLE;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=sform;person=3;number=sing


% JJ %


Gate;AnnotationType=Token;category=JJ;string=&S
SUPPLE;category=jj;m_root=&S;s_form=&S;degree=base


% JJR %


Gate;AnnotationType=Token;category=JJR;string=&S
SUPPLE;category=jj;m_root=&S;s_form=&S;degree=comp


% JJS %

Gate;AnnotationType=Token;category=JJS;string=&S
SUPPLE;category=jj;m_root=&S;s_form=&S;degree=sup



% RB %


Gate;AnnotationType=Token;category=RB;string=&S
SUPPLE;category=rb;m_root=&S;s_form=&S;degree=base


% RBR %

Gate;AnnotationType=Token;category=RBR;string=&S
SUPPLE;category=rb;m_root=&S;s_form=&S;degree=comp

% RBS %


Gate;AnnotationType=Token;category=RBS;string=&S
SUPPLE;category=rb;m_root=&S;s_form=&S;degree=sup


% PRP %

Gate;AnnotationType=Token;category=PRP;string=&S
SUPPLE;category=pps;m_root=&S;s_form=&S;degree=sup


% PP$ %

Gate;AnnotationType=Token;category=PP$;string=&S
SUPPLE;category=pps;m_root=&S;s_form=&S



% PRP$ %

Gate;AnnotationType=Token;category=PRP$;string=&S
SUPPLE;category=pps;m_root=&S;s_form=&S



% PRPR$ %

Gate;AnnotationType=Token;category=PRPP$;string=&S
SUPPLE;category=pps;m_root=&S;s_form=&S



% WP$ %

Gate;AnnotationType=Token;category=WP$;string=&S
SUPPLE;category=wp;m_root=&S;s_form=&S



% PERIOD (.) %

Gate;AnnotationType=Token;category=.;root=&R;affix=&A;string=&S
SUPPLE;category=period;s_form=&S



% COMMA (,) %

Gate;AnnotationType=Token;category=,;string=&S
SUPPLE;category=comma;s_form=&S

% SYM (other symbols) %

Gate;AnnotationType=Token;category=SYM;string=&S
SUPPLE;category=sym;s_form=&S

% MD %

Gate;AnnotationType=Token;category=MD;string=&S
SUPPLE;category=md;m_root=&S;s_form=&S

% PDT %

Gate;AnnotationType=Token;category=PDT;string=&S
SUPPLE;category=pdt;m_root=&S;s_form=&S


% POS %

Gate;AnnotationType=Token;category=POS;string=&S
SUPPLE;category=pos;m_root=&S;s_form=&S

% PRP %

Gate;AnnotationType=Token;category=PRP;;string=&S
SUPPLE;category=prp;m_root=&S;s_form=&S

% RP %

Gate;AnnotationType=Token;category=RP;string=&S
SUPPLE;category=rp;m_root=&S;s_form=&S

% TO %

Gate;AnnotationType=Token;category=TO;string=&S
SUPPLE;category=to;m_root=&S;s_form=&S

% UH %

Gate;AnnotationType=Token;category=UH;string=&S
SUPPLE;category=uh;m_root=&S;s_form=&S

% WDT %

Gate;AnnotationType=Token;category=WDT;string=&S
SUPPLE;category=wdt;m_root=&S;s_form=&S

% WP %

Gate;AnnotationType=Token;category=WP;string=&S;root=&R
SUPPLE;category=wp;m_root=&R;s_form=&S

% WRB % 

Gate;AnnotationType=Token;category=WRB;string=&S;root=&R
SUPPLE;category=wrb;m_root=&R;s_form=&S




% ORDINAL %

Gate;AnnotationType=Token;category=ORDINAL;string=&S
SUPPLE;category=ordinal;m_root=&S;s_form=&S

% EX %

Gate;AnnotationType=Token;category=EX;string=&S
SUPPLE;category=ex;m_root=&S;s_form=&S

% FW %

Gate;AnnotationType=Token;category=FW;string=&S
SUPPLE;category=fw;m_root=&S;s_form=&S

% CD %

Gate;AnnotationType=Token;category=CD;string=&S
SUPPLE;category=cd;m_root=&S;s_form=&S

% CC %

Gate;AnnotationType=Token;category=CC;string=&S
SUPPLE;category=cc;m_root=&S;s_form=&S

% LS % 

Gate;AnnotationType=Token;category=LS;string=&S
SUPPLE;category=ls;m_root=&S;s_form=&S

% PP %

Gate;AnnotationType=Token;category=PP;string=&S
SUPPLE;category=pp;m_root=&S;s_form=&S

% IN %

Gate;AnnotationType=Token;category=IN;string=&S
SUPPLE;category=in;m_root=&S;s_form=&S


% MD %
Gate;AnnotationType=Token;category=MD;string=&S
SUPPLE;category=md;m_root=&S;s_form=&S



% SYMBOLS %

Gate;AnnotationType=Token;kind=punctuation;string=&S
SUPPLE;category=sym;m_root=&S;s_form=&S


Gate;AnnotationType=Token;kind=symbol;string=&S
SUPPLE;category=sym;m_root=&S;s_form=&S

% Person



Gate;AnnotationType=Person;string=&S;
SUPPLE;category=sem_cat;type=Person;text=&S;kind=person;name=&S


% Building



Gate;AnnotationType=Building;kind=&K;string=&S;
SUPPLE;category=sem_cat;type=Building;text=&S;kind=&K;name=&S

% Location

Gate;AnnotationType=Location;string=&S;locType=airport
SUPPLE;category=sem_cat;type=Location;text=&S;kind=airport;name=&S;s_form=&S;

Gate;AnnotationType=Location;string=&S;locType=province
SUPPLE;category=sem_cat;type=Location;text=&S;kind=province;name=&S;s_form=&S;


Gate;AnnotationType=Location;string=&S;locType=city
SUPPLE;category=sem_cat;type=Location;text=&S;kind=city;name=&S;s_form=&S;



Gate;AnnotationType=Location;string=&S;locType=country
SUPPLE;category=sem_cat;type=Location;text=&S;kind=country;name=&S;s_form=&S;


Gate;AnnotationType=Location;string=&S;locType=continent
SUPPLE;category=sem_cat;type=Location;text=&S;kind=continent;name=&S;s_form=&S;


% Quote

Gate;AnnotationType=QuotedText;string=&S;
SUPPLE;category=sem_cat;type=Quoted;text=&S;kind=quote;name=&S

% Organization

Gate;AnnotationType=Organization;string=&S;orgType=&T
SUPPLE;category=sem_cat;type=Organization;text=&S;kind=&T;name=&S

% Location

%Gate;AnnotationType=Location;string=&S
%SUPPLE;category=sem_cat;type=Location;text=&S;kind=location;name=&S

% date


Gate;AnnotationType=Date;string=&S
SUPPLE;category=sem_cat;type=Date;text=&S;kind=date;name=&S

Gate;AnnotationType=Measure;type=distance;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=Distance;unit=&U;count=&C;text=&S;kind=distance;name=&S

Gate;AnnotationType=Measure;type=age;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=age;unit=&U;count=&C;text=&S;kind=measurement;name=&S

Gate;AnnotationType=Measure;type=time;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=time;unit=&U;count=&C;text=&S;kind=measurement;name=&S

Gate;AnnotationType=Measurement;type=distance;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=Distance;unit=&U;count=&C;text=&S;kind=distance;name=&S

Gate;AnnotationType=Measurement;type=age;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=age;unit=&U;count=&C;text=&S;kind=measurement;name=&S

Gate;AnnotationType=Measurement;type=time;unit=&U;count=&C;string=&S
SUPPLE;category=sem_cat_1;type=time;unit=&U;count=&C;text=&S;kind=measurement;name=&S


