/*  XPCE configuration file for "persistent_frame"
    Saved Tue Jul  6 16:11:49 2021 by prologmud_server
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/prolog_debugger = '1920x1147--286--3'.
history/geometry/prolog_trace_exception = '1482x379+85+108'.
history/geometry/prolog_navigator = '206x559+59+82'.
history/geometry/swi_console =  '761x556+642+321'.
history/geometry/prolog_debug_status = '906x252+383+427'.
history/geometry/prolog_thread_monitor = '502x257+58+150'.
history/geometry/prolog_debug_monitor = '885x403+1097-802'.
history/geometry/prof_frame =   '1101x659+309-268'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/prolog_debugger = layout(*,[*,*,layout(154,[413,*]),*,*]).
history/subwindow_layout/prolog_debug_monitor = layout(*,[*,layout(*,[205,*]),*]).
history/subwindow_layout/prolog_thread_monitor = layout(*,[*,layout(*,[90,*]),*]).
history/subwindow_layout/prof_frame = layout(*,[*,layout(*,[276,*]),*]).
